<style>
  @font-face {
    font-family: 'SuncheonB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff')
      format('woff');
    font-weight: normal;
    font-style: normal;
  }
</style>
<h3>{{blog.title}}</h3>
{{blog.date}}
<br />
<pre
  style="
    background-color: azure;
    padding: 30px;
    overflow: auto;
    white-space: pre-wrap;
  "
>
{{blog.body}}</pre
>
<br />
<a href="{% url 'edit' blog.id %}">수정하기</a>
<a href="{% url 'delete' blog.id %}">삭제하기</a>
