<style>
  @font-face {
    font-family: 'SuncheonB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff')
      format('woff');
    font-weight: normal;
    font-style: normal;
  }
</style>
<h3>{{blog.title}}</h3>
{{blog.date}}
<br />
<pre
  style="
    background-color: azure;
    padding: 30px;
    overflow: auto;
    white-space: pre-wrap;
  "
>
{{blog.body}}</pre
>
<br />
<div>{% for hashtag in hashtags.all %} #{{hashtag}} {% endfor %}</div>
<br />
<a href="{% url 'home' %}">목록</a>
<a href="{% url 'edit' blog.id %}">수정하기</a>
<a href="{% url 'delete' blog.id %}">삭제하기</a>

<br />
<br />
<hr />
<a class="add_comment" href="{% url 'add_comment' blog.id %}">댓글 달기</a>
{% for comment in blog.comments.all %}
<div class="comment">
  <strong class="username">{{ comment.username }}</strong
  ><a class="del_comment" href="{% url 'del_comment' blog.id comment.id %}"
    >댓글 삭제</a
  >
  <div class="date">{{ comment.created_at }}</div>
  <p>{{ comment.comment_text|linebreaks }}</p>
</div>
{% empty %}
<p>아직 댓글이 없습니다</p>
{% endfor %}
