{% extends 'base.html' %} {% block head %}
<title>Edit</title>
{% endblock %} {% block content %}
<h1>Editing Character</h1>

<form action="{% url 'update' blog.id %}" method="post">
  {% csrf_token %}
  <p>제목:<input type="text" name="title" value="{{blog.title}}" /></p>
  본문:
  <textarea name="body" col="50" row="30" id="">{{blog.body}}</textarea>
  해시태그<input
    type="text"
    name="hashtags"
    value="{% for hashtag in hashtags.all %}{{hashtag}}, {% endfor %}"
  />
  <button type="submit">제출</button>
</form>
{% endblock %}
