{% extends 'base.html' %} {% block head %}
<title>설정정리방</title>
{% endblock %} {% block content %}
<h1 style="margin: left 10px">설정정리방</h1>

{% if user.is_authenticated %} 아이디: {{user.username}} 닉네임:
{{user.nickname}} 장르: {{user.liketheme}} 위치: {{user.location}} {% endif %}
<br />
<br />
<a href="{% url 'new' %}">새로운 캐릭터 생성</a>
{% for blog in blogs.all %}
<div>
  <h3>{{blog.title}}</h3>
  {{blog.date}} {{blog.summary}}
  <a href="{% url 'detail' blog.id %}">...more</a>
</div>
{% endfor %} {% endblock %}
