<body style="padding: 5px">
  <style>
    @font-face {
      font-family: 'SuncheonB';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff')
        format('woff');
      font-weight: normal;
      font-style: normal;
    }
  </style>
  <h1>설정정리방</h1>
  <a href="{% url 'new' %}">새로운 캐릭터 생성</a>

  {% for blog in blogs.all %}
  <div
    style="
      margin: 20px;
      padding: 10px;
      border: 2px, solid;
      border-color: darkblue;
      border-radius: 10px;
      background-color: azure;
    "
  >
    <h3>{{blog.title}}</h3>
    {{blog.date}} {{blog.summary}}
    <a href="{% url 'detail' blog.id %}">...more</a>
  </div>
  {% endfor %}
</body>
